@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  line-height: 1.6;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 5px 0;
}
